body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.orange{
    color: orange;
}

.flex-con{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding: 5%;

}
.half img{
    width: 80%;
}
body{
    background-color: rgb(247, 244, 242);
}
#button{
text-decoration: none;
padding: 10px 40px;
background-image:linear-gradient(red, orange)  ;
border-radius: 10px;
font-size: 700;
color: aliceblue;
}
.top-O{
background-image: url(top-banner.png);
background-repeat: no-repeat ;
}
.cyber{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp{
    width: 50%;
    padding: 50px;
    box-shadow: 10px 10px 20px gray;
    margin: 15px;
}
.expbg{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}

#frd{
    border-left: 8px solid;
    border-image: linear-gradient(blue , rgb(228, 7, 7)) ;
    border-image-slice: 2;
}
#bed{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(243, 8, 47), blue);
    border-image-slice:2 ;
}
